@tailwind base;
@tailwind components;
@tailwind utilities;

.checkline {
  border: 1px solid #ff0000;
}

.shadow-bottom {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
}
